body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #5c3939;
}

.calculator {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    trans
}

.heading{
    color: black;
    margin-top: 5px;
    text-align: center;
}

input {
    margin: 10px;
    padding: 10px;
    width: calc(50% - 40px);
    font-size: 16px;
    border-radius: 8px; 
    border: 0px solid #ccc;
}

.buttons button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    font-size: 18px;
}
