* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #e8f5e9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 60%;
    margin: 20px auto;
    background: #ffffff;
    padding: 30px;
    border: 2px solid #00ff08;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgb(255, 0, 0);
}

.title {
    font-style: italic;
    text-align: center;
    color: #2e7d32;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color: #2e7d32;
    font-size: large;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"] {
    background-color: #f1f8e9;
    padding: 12px;
    border: 1px solid #ffaa00;
    border-radius: 15px;
    width: calc(100% - 24px);
}

.largeBox {
    height: 60px;
    background-color: cyan;
}

.button{
    align-items: center;
    display: flex;
    justify-content: end;
}

input[type="submit"] {
    background-color: #2e7d32;
    color: white;
    border: 2px solid #a5d6a7;
    font-size: large;
    font-weight: bold;
    width: 30%;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #a5d6a7;
    color: #ff6a00;
    border: 2px solid #ff9d00;
}

.list {
    display: flex;
    justify-content: center;
}

.recipeList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 20px 50px 20px 50px;
}

.recipeInfo {
    width: 100%;
    max-width: 600px;
    background-color: #dcedc8;
    color: black;
    border: 2px solid #ffa600;
    border-radius: 15px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.recipeInfo:hover {
    background-color: #0fc318;
    color: white;
    border: 2px solid #dcedc8;
}

.recipeLoad {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.recipeLoad h3 {
    color: #00ff0d;
    margin-bottom: 10px;
}

.recipeLoad p {
    background: #f1f8e9;
    padding: 10px;
    border: 1px solid #2e7d32;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.close-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.close-button:hover {
    background-color: #d32f2f;
}
